<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="FileLayout" value="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}" />
  <variable name="ConsoleLayout" value="${longdate} ${message}" />

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="C:/Logs/CoreConsoleApp/${processname}/${date:format=dd.MM.yyy}.log" layout="${FileLayout}"/>
    <target name="logconsole" xsi:type="ColoredConsole" layout="${ConsoleLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>