<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="MyLayout" value="${longdate} ${uppercase:${level}} ${message} ${all-event-properties}" />
  <variable name="AppName" value="NLogWebService" />

  <targets async="true">

    <target xsi:type="BufferingWrapper" name="logfile" bufferSize="500" flushTimeout="5000" slidingTimeout="false" >
      <target xsi:type="File" fileName="C:/Logs/${AppName}/${date:format=dd.MM.yyy}.log" layout="${MyLayout}"/>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>